<div id="header-menu" class="palm-header">
	<div id="scene-title" class="truncating-text"></div>
</div>
<div class="palm-header-spacer"></div>


<div class="videos-details-body">



<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">GENERAL</div>
   
   <div class="palm-list">
	
	
	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="subtitle-label">Subtitle</div>
			<div class="title" id="subtitle-title"></div>
		</div>
    </div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="fullEpisode-label">Episode</div>
			<div class="title" id="fullEpisode-title"></div>
		</div>
    </div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div class="palm-info-text" id="plot-title"></div>
		</div>
    </div>
	
	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="category-label">Category</div>
			<div class="title" id="category-title"></div>
		</div>
    </div>
	
   </div>
</div>

<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">PROGRAM DETAILS</div>
   
   <div class="palm-list">
<!--	
	intid, inetref, homepage, userrating, showlevel,
	hash, childid, browse, watched, category, trailer, insertdate
-->	
	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="director-label">director</div>
			<div class="title" id="director-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="rating-label">rating</div>
			<div class="title" id="rating-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="year-label">year</div>
			<div class="title" id="year-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="releasedate-label">release date</div>
			<div class="title" id="releasedate-title"></div>
		</div>
    </div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="length-label">length</div>
			<div class="title" id="length-title"></div>
		</div>
    </div>

  </div>
</div>

<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">FILES</div>
   
   <div class="palm-list">

   	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="insertdate-label">inserted</div>
			<div class="title" id="insertdate-title"></div>
		</div>
    </div>
   	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="host-label">host</div>
			<div class="title" id="host-title"></div>
		</div>
    </div>
   	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="filename-label">filename</div>
			<div class="title" id="filename-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="coverfile-label">coverfile</div>
			<div class="title" id="coverfile-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="screenshot-label">screenshot</div>
			<div class="title" id="screenshot-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="banner-label">banner</div>
			<div class="title" id="banner-title"></div>
		</div>
    </div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="fanart-label">fanart</div>
			<div class="title" id="fanart-title"></div>
		</div>
    </div>
	

  </div>
</div>

</div>