<div id="header-menu" class="palm-header">
	<div id="scene-title" class="truncating-text"></div>
</div>
<div class="palm-header-spacer"></div>


<div class="recorded-details-body">


<img id="recorded-screenshot" class="recorded-screenshot" />


<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">GENERAL DETAILS</div>
   
   <div class="palm-list">
	
	
	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="subtitle-label">Subtitle</div>
			<div class="title" id="subtitle-title"></div>
		</div>
    </div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <!--<div class="label" id="description-label">Description</div>-->
			<div class="palm-info-text" id="description-title"></div>
		</div>
    </div>
	
	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="category-label">category</div>
			<div class="title" id="category-title"></div>
		</div>
    </div>
	
   </div>
</div>

<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">PROGRAM DETAILS</div>
   
   <div class="palm-list">
	
	
	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="airdate-label">original airdate</div>
			<div class="title" id="airdate-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="seriesid-label">series id</div>
			<div class="title" id="seriesid-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="programid-label">program id</div>
			<div class="title" id="programid-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="channum-label">channel number</div>
			<div class="title" id="channum-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="channame-label">channel name</div>
			<div class="title" id="channame-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="starttime-label">start time</div>
			<div class="title" id="starttime-title"></div>
		</div>
    </div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="endtime-label">end time</div>
			<div class="title" id="endtime-title"></div>
		</div>
    </div>

  </div>
</div>

<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">RECORDING DETAILS</div>
   
   <div class="palm-list">

   	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="hostname-label">hostname</div>
			<div class="title" id="hostname-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="recgroup-label">recording group</div>
			<div class="title" id="recgroup-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="recstartts-label">recording start</div>
			<div class="title" id="recstartts-title"></div>
		</div>
    </div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="filesize-label">filesize</div>
			<div class="title" id="filesize-title"></div>
		</div>
    </div>
	

  </div>
</div>

</div>