<div id="header-menu" class="palm-header left">
	<div class="selector" id="header-menu-button" x-mojo-element="Button"></div>
	<div id="scene-title">Remote</div>
</div>
<div class="palm-header-spacer"></div>


<div class="buttonRow">
	<div class="column1">
 		<div id="backButton" class="buttonClass backButton">Esc</div> 
	</div>
	<div class="column2">
 		<div class="noButton"></div>
	</div>
	<div class="column3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div class="noButton"></div>
	</div>
	<div class="column2">
 		<div id="upButton" class="buttonClass upButton">Up</div>
	</div>
	<div class="column3">
		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="leftButton" class="buttonClass leftButton">Left</div> 
	</div>
	<div class="column2">
 		<div id="selectButton" class="buttonClass selectButton">Select</div>
	</div>
	<div class="column3">
 		<div id="rightButton" class="buttonClass rightButton">Right</div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div class="noButton"></div> 
	</div>
	<div class="column2">
 		<div id="downButton" class="buttonClass downButton">Down</div>
	</div>
	<div class="column3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow"></div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="menuButton" class="buttonClass menuButton">Menu</div> 
	</div>
	<div class="column2">
 		<div class="noButton"></div>
	</div>
	<div class="column3">
 		<div id="infoButton" class="buttonClass infoButton">Info</div>
	</div>
</div>