<div id="header-menu" class="palm-header">
	<div id="scene-title"></div>
</div>
<div class="palm-header-spacer"></div>


<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">DETAILS</div>
   
   <div class="palm-list">
    <!-- rows -->
	
	
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="subtitle-label">Subtitle</div>
			<div class="title" id="subtitle-title"></div>
		</div>
    </div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="description-label">Description</div>
			<div class="title" id="description-title"></div>
		</div>
    </div>
	
   </div>
</div>


<div class="palm-group" id="play-group">
   <div class="palm-group-title" id="group-title">PLAY</div>
   
   <div class="palm-list">
    <!-- rows -->
	
	
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
            <div class="title"> 
				<div class="label" id="frontend-label">frontend</div>
				<div x-mojo-element="TextField" id="frontend-title-textfield" class="textFieldClass"></div>
			</div>
		</div>
    </div>
	
	
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div x-mojo-element="Button" id="goPlayButtonId"></div>
		</div>
    </div>
	
   </div>
</div>