<div id="header-menu" class="palm-header">
	<div id="scene-title" class="truncating-text"></div>
</div>
<div class="palm-header-spacer"></div>


<div class="music-details-body">


<img id="albumart-image" class="music-albumart" />


<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">ARTIST</div>
   
   <div class="palm-list">
	
	
	<div class="palm-row single">
		<div class="palm-row-wrapper">
            <div class="label" id="artist-label"></div>
			<div class="title" id="artist-title"></div>
		</div>
    </div>
	
   </div>
</div>

<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">ALBUM DETAILS</div>
   
   <div class="palm-list">
	
	
	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="album-label">album</div>
			<div class="title" id="album-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="track-label">track #</div>
			<div class="title" id="track-title"></div>
		</div>
    </div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="year-label">year</div>
			<div class="title" id="year-title"></div>
		</div>
    </div>

  </div>
</div>


</div>