<div class="palm-header">Hosts on Backend</div>
<div class="palm-header-spacer"></div>


<div class="palm-group">        
 <div class="palm-group-title"><span x-mojo-loc="">Enabled Frontends</span></div>
  <div class="palm-list">
		<div class="palm-row-wrapper">
			<div x-mojo-element="List" id="enabledHostsList"></div>
		</div>
  </div>
</div>

<div class="palm-group">        
 <div class="palm-group-title"><span x-mojo-loc="">Disabled Frontends</span></div>
  <div class="palm-list">
		<div class="palm-row-wrapper">
			<div x-mojo-element="List" id="disabledHostsList"></div>
		</div>
  </div>
</div>