<div class="searchDialog">
	
	<div class="palm-row single">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">              
				<div x-mojo-element="TextField" id="searchTextFieldId" class="textFieldClass" style="overflow: hidden; "></div>
			</div>
		</div>
	</div>


	<div id="goSearchButton" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" id="searchButtonWrapper" x-mojo-loc="">
			Title Search
		</div>
    </div>
	
</div>