<div id="header-menu" class="palm-header">
	<div id="scene-title">Preferences</div>
</div>
<div class="palm-header-spacer"></div>

<div class="palm-group">        
 <div class="palm-group-title"><span x-mojo-loc="">Webserver address</span></div>
  <div class="palm-list">
	
	<div class="palm-row first">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label">Server</div>
				<div x-mojo-element="TextField" id="webserverTextFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>
<!--
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label">Remote file</div>
				<div x-mojo-element="TextField" id="webserverRemoteFileFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label">MySQL File</div>
				<div x-mojo-element="TextField" id="webMysqlFileFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>
-->	
	<div class="palm-row last">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label">Script</div>
				<div x-mojo-element="TextField" id="webmythPythonFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>

  </div>
</div>

<div class="palm-group">
	<div class="palm-group-title" id="preferences-global">Global</div>
	<div class="palm-list">
        
		<div class="palm-row single"> <!-- x-mojo-tap-highlight="momentary" //-->
			<div class="palm-row-wrapper">
				<div id="theme" x-mojo-element="ListSelector"></div>
            </div>
        </div>
	</div>
</div>

<div class="palm-group">        
 <div class="palm-group-title"><span x-mojo-loc="">Metrix</span></div>
  <div class="palm-list">
	
	<div class="palm-row first">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
			<div class="title">    
				Allow annonymous analytics using <a href="http://metrix.webosroundup.com/privacy">Metrix</a>
			</div>
		</div>
	</div>
	
	<div class="palm-row last">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
			<div x-mojo-element="ToggleButton" id="metrixToggleId"></div>
		</div>
	</div>

  </div>
</div>

<div class="palm-row last">
	<div x-mojo-element="Button" id="saveWebserverButtonId"></div>
</div>