<div class="palm-row multi-line recorded-list-item #{category}" id='#{chanId}T#{startTime}'>
        <!--<div class="title truncating-text">#{title}</div>-->
	<div class="palm-row-wrapper">
	
<!--		<img class="icon" src="http://192.168.1.105:6544/Myth/GetChannelIcon?ChanId=#{chanId}" />	-->

			<div class="guide-title"><div class="truncating-text right">#{title}</div></div>
			<div class="guide-startTime"><div class="truncating-text right">#{startTime}</div></div>
<!--			<div class="guide-subTitle"><div class="title truncating-text right italics">#{subTitle}</div></div>	-->
			<div class="guide-subTitle"><div class="truncating-text right italics">#{chanNum} - #{channelName}</div></div>

	</div>
	
</div>
