<div class="musicPlaylist-scene">

<div id="header-menu" class="palm-header">
        <div id="scene-title">Playlist</div>
</div>
<div class="palm-header-spacer"></div>

<div id="playlist-wrapper">
	<table id="playlistsDrawerGroup" class="palm-divider labeled collapsible right" x-mojo-touch-feedback="delayed">
		<tr>
			<td class="left"></td>
			<td class="label" id="playlistsDivider-label">Playlists</td>
			<td class="right"></td>
			<td><div id="playlistsArrow" class="palm-arrow-closed"></div></td>
		</tr>
	</table>
	<div  x-mojo-element="Drawer" id="playlistsDrawer">
	  <div class="palm-list">
			<div class="palm-row-wrapper">
				<div x-mojo-element="List" id="musicPlaylistsList"></div>
			</div>
	  </div>
	</div>
	<table id="musicDrawerGroup" class="palm-divider labeled" x-mojo-touch-feedback="delayed">
		<tr>
			<td class="left"></td>
			<td class="label" id="musicDivider-label">Songs</td>
			<td class="right"></td>
		</tr>
	</table>
</div>



<div x-mojo-element="FilterList" id="musicList"></div>

<div class="palm-scrim" id="myScrim">
	<div x-mojo-element="Spinner" id="spinner" class="center"></div>
	<div id="spinner-text"></div> 
</div>


</div>