<div id="header-menu" class="palm-header">
	<div id="scene-title" class="truncating-text">Usage Tips</div>
</div>
<div class="palm-header-spacer"></div>

<div class="tips-body">

<div class="title">General tips: </div><ul>
<li>A "forward swipe" will jump you straight into the remote</li>
<li>There are global shortcuts for the other app scenes too</li>
<li>The app has search built into most scenes - just start typing to search</li>
<li>Tapping the header will usually make the list jump to the top</li>
 
</ul><hr />
<div class="title">Remote tips:</div><ul>
<li>The keyboard also works for sending commands to the frontend. This is great for some more advanced remote usage</li>
<li>Tapping the header on a remote scene will pause or mute (selected in the preferences)</li>
 
</ul>

</div>