<div id="header-menu" class="palm-header">
	<div id="scene-title" class="truncating-text"></div>
</div>
<div class="palm-header-spacer"></div>

<div class="guide-details-body">

<div id="guideDetails-channel-icon"></div>

<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">GENERAL DETAILS</div>
   
   <div class="palm-list">
	
	
	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="subtitle-label">Subtitle</div>
			<div class="title" id="subtitle-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="description-label">Description</div>
			<div class="title" id="description-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="starttime-label">start</div>
			<div class="title" id="starttime-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="endtime-label">end</div>
			<div class="title" id="endtime-title"></div>
		</div>
    </div>
   	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="recstatustext-label">Status</div>
			<div class="title" id="recstatustext-title"></div>
		</div>
    </div>
	
   </div>
</div>

<div class="palm-group" id="details-group">
   <div class="palm-group-title" id="group-title">PROGRAM DETAILS</div>
   
   <div class="palm-list">
	
	<div class="palm-row first">
		<div class="palm-row-wrapper">
            <div class="label" id="airdate-label">original airdate</div>
			<div class="title" id="airdate-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="programid-label">program id</div>
			<div class="title" id="programid-title"></div>
		</div>
    </div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
            <div class="label" id="channum-label">channel number</div>
			<div class="title" id="channum-title"></div>
		</div>
    </div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
            <div class="label" id="channame-label">channel name</div>
			<div class="title" id="channame-title"></div>
		</div>
    </div>

  </div>
</div>


</div>