<div class="palm-row multi-line upcoming-list-item #{recgroup}" id='#{chanid}T#{starttime}'>
        <!--<div class="title truncating-text">#{title}</div>-->
		<!--
	<div class="palm-row-wrapper">
		<div class="palm-info-text title truncating-text left">#{title}</div>
        <div class="palm-info-text title truncating-text left italics">#{subtitle}</div>
		<div class="palm-info-text title truncating-text left">#{starttime}</div>
	</div>
	-->
	<div class="palm-row-wrapper">
	
		<div class="palm-info-text title truncating-text left upcoming-list-title">#{title}</div>
	
		<div class="palm-row-wrapper">
			<div class="left-list-text">
				#{-myDetailsData}
			</div>
			<div class="right-list-image">
		
				<img id='img-#{chanid}T#{starttime}' class="upcoming-channelicon-small" src="#{-myImgSrc}" />
			</div>
		</div>
	
	</div>
	
</div>
