<div id="header-menu" class="palm-header">
<!--        <div class="selector palm-list-selector title palm-button small-button selected" id="recorded-header-menu-button" x-mojo-element="ListSelector"></div> -->
        <div id="scene-title">Upcoming Recordings</div>
</div>


<div class="palm-header-spacer"></div>
<div x-mojo-element="FilterList" id="upcomingList"></div>

<div class="palm-scrim" id="myScrim">
	<div x-mojo-element="Spinner" id="spinner" class="center"></div>
	<div id="spinner-text">Loading...</div> 
</div>
