<div class="dateAndTimePicker">
	
<div class="palm-row" x-mojo-focus-highlight="true">
	<div class="palm-row-wrapper">
		<div class="title">
			Date
			<div id="datepickerid" x-mojo-element="DatePicker"></div>
		</div>
	</div>
</div>

<div class="palm-row" x-mojo-focus-highlight="true">
	<div class="palm-row-wrapper">
		<div class="title">
			Time
			<div id="timepickerid" x-mojo-element="TimePicker"></div>
		</div>
	</div>
</div>


	<div id="goDate_button" class="palm-button" x-mojo-touch-feedback="immediatePersistent">
        <div class="palm-button-wrapper" x-mojo-loc="">
			Go
		</div>
    </div>
	
</div>