<div class="palm-page-header multi-line">

     <div class="palm-page-header-wrapper">
        <div class="icon" id="welcome-header-icon"></div>
        <div class="title">
          WebMyth
        </div>
     </div>

</div>


<div class="large-main-icon"></div>


<div x-mojo-element="Button" id="goRemoteButtonId"></div>

<div x-mojo-element="Button" id="goRecordedButtonId"></div>

<div x-mojo-element="Button" id="goUpcomingButtonId"></div>

<div x-mojo-element="Button" id="goStatusButtonId"></div>
