<!--
<div class="palm-header">mythtv://#{activeHost}</div>
<div class="palm-header-spacer"></div>
-->


<div class="buttonRow">
	<div class="column1">
 		<div id="backButton" class="buttonClass">Back</div> 
	</div>
	<div class="column2">
 		<div class="noButton"></div>
	</div>
	<div class="column3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div class="noButton"></div>
	</div>
	<div class="column2">
 		<div id="upButton" class="buttonClass">Up</div>
	</div>
	<div class="column3">
		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="leftButton" class="buttonClass">Left</div> 
	</div>
	<div class="column2">
 		<div id="enterButton" class="buttonClass">Enter</div>
	</div>
	<div class="column3">
 		<div id="rightButton" class="buttonClass">Right</div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div class="noButton"></div> 
	</div>
	<div class="column2">
 		<div id="downButton" class="buttonClass">Down</div>
	</div>
	<div class="column3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow"></div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="menuButton" class="buttonClass">Menu</div> 
	</div>
	<div class="column2">
 		<div class="noButton"></div>
	</div>
	<div class="column3">
 		<div id="infoButton" class="buttonClass">Info</div>
	</div>
</div>