<div id="header-menu" class="palm-header">
	<div id="scene-title" class="truncating-text">FAQs</div>
</div>
<div class="palm-header-spacer"></div>

<div class="faqs-body">

<div class="title">Q: What is MythTV and what does this app do?</div><div class="palm-info-text">
MythTV is an open-source DVR program (somewhat like TiVo) that runs on Linux. <div class="help-bold">If you do not already have <a href="http://www.mythtv.org/">MythTV</a> setup this app is not for you.</div> If you do have a MythTV setup this app can be used a remote control and do some advanced features like showing your current and upcoming recordings.  
</div><hr />

<div class="title">Q: What is the script file noted in the preferences?</div><div class="palm-info-text">
Earlier versions of the app required a server script to access all of the MythTV functions.  The app is still compatable with the script and it can be used if desired by setting it in the preferences.  Using the script is a good way to avoid having to forward all the ports when using the app from a cell network.
</div><hr />

<!-- 
<div class="title">Q: Do I really need to install the script file?</div><div class="palm-info-text">
Yes. WebOS 1.4.5 and below does not allow for some of the connections that would be needed to not use the script.  You can install the beta version of the app on the development homepage and install it on a 1.4.5 device to avoid using the script, but that version will never be in the pfficial app catalog.
</div><hr />

<div class="title">Q: Why are there 0.23+/python/MythVideo requirements?</div><div class="palm-info-text">
The server script that this app uses relies on the python bindings included with MythTV. By using the actual python bindings the script itself can be simpler and frankly easier for me to write. But unfortunately the python bindings for MythTV was drastically reworked for MythTV for 0.23, making the script not backwards compatible with MythTV 0.22. MythTV 0.24 seems to work OK, though a little bit slower for some reason.  The MythVideo requirement is somewhat arbitrary and you can comment out the two lines in the script that include the function call "MythVideo(...)" if you do not have MythVideo installed on your system.
</div><hr />
-->

<div class="title">Q: The upcoming list/frontend searches/remote connection are not working, especially after I just upgraded the script file</div><div class="palm-info-text">
First double check you installed the script file is installed on a local web server. And that you changed the hardcoded database values to your specific system. You can get the variables you need by looking at /etc/mythtv/mysql.txt on a functioning frontend or backend. You can see if it is accessible by trying to view it from a web browser (i.e http://my-server/cgi-bin/webmyth.py?op=getHosts). If your browser tries to download a file then that much is working. If you get a 500 error from your browser you can try looking at the apache error log ("/var/log/apache2/error.log") for information. 
</div><hr />

<!-- 
<div class="title">Q: WebMyth can't seem to talk to a remote frontend even though I know it is a valid frontend?</div><div class="palm-info-text">
This might be an issue that the server where the script lives cannot resolve the frontend's system name. You probably need to add it manually to the server's /etc/hosts file. The webmyth.py script only uses the hostname - it does not use the actual IP addresses you may have configured.
</div><hr />
-->

<div class="title">Q: WebMyth can't seem to talk to a remote frontend even though I know it is a valid frontend?</div><div class="palm-info-text">
Make sure the IP address and port is correct.  The app does not use the hostname to connect to the fronted, only the IP address.
</div><hr />

<!-- 
<div class="title">Q: Can I use WebMyth remotely over the cell network or another WiFi network?</div><div class="palm-info-text">
For the most part, yes. You will have to know the IP address assigned to you by your internet provider (or setup a domain name that resolves to your IP address). Then on your router you should forward ports 80 (webserver) and 6544 (MythTV backend XML) to the correct local IP address(es). You can also download a small addon module for MythWeb to avoid having to forward port 6544.  See the app homepage for details.
</div><hr />
-->

<div class="title">Q: Can I use WebMyth remotely over the cell network or another WiFi network?</div><div class="palm-info-text">
For the most part, yes. You will have to know the IP address assigned to you by your internet provider (or setup a domain name that resolves to your IP address). Then on your router you should forward ports 80 (webserver), 3306 (MySQL), 6543 (MythTV backend), 6544 (MythTV backend XML) and 6546 (frontend remote control) to the correct local IP address(es). You can also download a small addon module for MythWeb to avoid having to forward port 6544.  See the app homepage for details.  If these ports are blocked by your ISP or the network connection you are using you are out of luck.
</div><hr />

<!--
<div class="title">Q: Some scenes in the app seem to take a longer time to load than they should?</div><div class="palm-info-text">
Loading any data into the app will take some amount of time. Depending on your local DHCP server, your MySQL server may have trouble looking up your phone's hostname causing an unnecessary delay with each MySQL data lookup.  If the log scene takes ~5 seconds to load you most likely have this problem. There are several potential fixes for this, but the simplest is probably added your phone's IP address the server's '/etc/hosts' file. The hostname you enter for your phone's IP address does not have to be the phone's actual hostname - I actually just use the IP address as it's own hostname. You may also want to add the address of your DCHP server (router) here too if you want to use the app remtoley. 
</div><hr />
-->

<div class="title">Q: Why doesn't video playback work for all videos?</div><div class="palm-info-text">
I haven't found a way to reliably play back video files from remote storage directories.  Hopefully playback of video files that are not in sub-directories of your Videos storage group will work remotely, but if the video is in a sub-directory the app gets the frontend to try and play the file locally.  For now I recommend mounting the remote Videos storage group locally via NFS for playback.  (And I know having MythTV show video information during playback is not working.)
</div><hr />

<div class="title">Q: What if I have some other question and/or suggestion?</div><div class="palm-info-text">
You can always email the developer <a href="mailto:webmyth.help@gmail.com?subject=WebMyth Help">here</a>.
</div>

</div>