<div class="welcome">

<div class="palm-page-header multi-line">

		<div id="headerContainer" class="palm-page-header-wrapper">
			<div class="icon" id="welcome-header-icon"></div>
			<div class="title main"><span id="welcomeTitle">WebMyth</span></div>
			<div class="sub"><span id="masterIpAddress-title">&nbsp </span></div>
		</div>

	 
</div>


<div class="large-main-icon"></div>


<div x-mojo-element="Button" id="goRemoteButtonId"></div>

<div x-mojo-element="Button" id="goRecordedButtonId"></div>

<div x-mojo-element="Button" id="goUpcomingButtonId"></div>

<div x-mojo-element="Button" id="goGuideButtonId"></div>

<div x-mojo-element="Button" id="goStatusButtonId"></div>

</div>