<div class="palm-row multi-line recorded-list-item #{recgroup}" id='#{chanid}T#{starttime}'>
        <!--<div class="title truncating-text">#{title}</div>-->
	<div class="palm-row-wrapper">
		<div class="left-list-image">
			<img id='img-#{chanid}T#{starttime}' class="recorded-screenshot-small" src="#{-myImgSrc}" />
		</div>
		<div class="right-list-text">
		<!--
			<div class="recorded-starttime"><div class="palm-info-text title right">#{starttime}</div></div>
			<div class="recorded-title"><div class="palm-info-text title right">#{title}</div></div>
			<div class="recorded-subtitle"><div class="palm-info-text title right italics">#{subtitle}</div></div>
		-->
		#{-myData}
		</div>
	</div>
	
</div>
