<div class="preferences">

<div id="header-menu" class="palm-header">
	<div id="scene-title">Preferences</div>
</div>
<div class="palm-header-spacer"></div>

<div class="palm-group">        
 <div class="palm-group-title"><span x-mojo-loc="">Webserver address</span></div>
  <div class="palm-list">
	
	<div class="palm-row first">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label">Web Server</div>
				<div x-mojo-element="TextField" id="webserverTextFieldId" class="textFieldClass" style="overflow: hidden; max-height:240px;"></div>
			</div>
		</div>
	</div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label">Username</div>
				<div x-mojo-element="TextField" id="usernameFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label">Password</div>
				<div x-mojo-element="PasswordField" id="passwordFieldId" class="passwordClass"></div>
			</div>
		</div>
	</div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
			<div class="label right">Stream to Device</div>
			<div x-mojo-element="ToggleButton" id="allowDownloadStreamToggleId" class="left"></div>
		</div>
	</div>
<!--
	<div class="palm-row">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
			<div class="label right">Use script file</div>
			<div x-mojo-element="ToggleButton" id="useWebmythScriptToggleId" class="left"></div>
		</div>
	</div>
-->
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label">Script</div>
				<div x-mojo-element="TextField" id="webmythPythonFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>

	<div class="palm-row">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
			<div class="label right">show upcoming</div>
			<div x-mojo-element="ToggleButton" id="showUpcomingToggleId" class="left"></div>
		</div>
	</div>

	<div class="palm-row">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
			<div class="label right">Show videos</div>
			<div x-mojo-element="ToggleButton" id="showVideosToggleId" class="left"></div>
		</div>
	</div>

	<div class="palm-row last">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
			<div class="label right">Show music</div>
			<div x-mojo-element="ToggleButton" id="showMusicToggleId" class="left"></div>
		</div>
	</div>


  </div>
</div>


<div class="palm-group">        
 <div class="palm-group-title"><span x-mojo-loc="">Master Backend</span></div>
  <div class="palm-list">
	
	<div class="palm-row first">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
			<div class="label right">Manual Backend IP</div>
			<div x-mojo-element="ToggleButton" id="manualMasterBackendToggleId" class="left"></div>
		</div>
	</div>
	
	<div class="palm-row last">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label">Master Backend</div>
				<div x-mojo-element="TextField" id="masterBackendTextFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>

  </div>
</div>


<div class="palm-group">
	<div class="palm-group-title" id="preferences-global">General</div>
	<div class="palm-list">
   
<!--   
		<div class="palm-row first"> 
			<div class="palm-row-wrapper">
				<div id="theme" x-mojo-element="ListSelector"></div>
            </div>
        </div>
-->
		<div class="palm-row first">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="upcomingChannelIconsToggleId"></div>
				<div class="title left">Show Channel Icons</div>
			</div>
		</div>
		
		<div class="palm-row"> 
			<div class="palm-row-wrapper">
				<div id="remoteHeaderAction" x-mojo-element="ListSelector"></div>
            </div>
        </div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="vibrateToggleId"></div>
				<div class="title left">Remote Vibrates</div>
			</div>
		</div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="remoteFullscreenToggleId"></div>
				<div class="title left">Remote Fullscreen</div>
			</div>
		</div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="playJumpRemoteToggleId"></div>
				<div class="title left">Start Remote After Playback Start</div>
			</div>
		</div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="guideJumpRemoteToggleId"></div>
				<div class="title left">Start Remote After LiveTV Start</div>
			</div>
		</div>
		
		<div class="palm-row last">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="dashboardRemoteToggleId"></div>
				<div class="title left">Dashboard Remote</div>
			</div>
		</div>
	
	</div>
</div>



<div class="palm-group">
	<div class="palm-group-title" id="preferences-remote-scenes">Remote Scenes</div>
	<div class="palm-list">
        
		
		<div class="palm-row first">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="remoteNavigationToggleId"></div>
				<div class="title left">Navigation</div>
			</div>
		</div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="remotePlaybackToggleId"></div>
				<div class="title left">Playback</div>
			</div>
		</div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="remoteMusicToggleId"></div>
				<div class="title left">Music</div>
			</div>
		</div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="remoteFlickToggleId"></div>
				<div class="title left">Flick</div>
			</div>
		</div>
		
		<div class="palm-row">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="remoteMasterToggleId"></div>
				<div class="title left">Master</div>
			</div>
		</div>
		
		<div class="palm-row last">
			<div class="palm-row-wrapper" x-mojo-focus-highlight="true">         
				<div x-mojo-element="ToggleButton" id="remoteNumberpadToggleId"></div>
				<div class="title left">Numbers</div>
			</div>
		</div>
	
	</div>
</div>

<div class="palm-group">        
 <div class="palm-group-title"><span x-mojo-loc="">Metrix</span></div>
  <div class="palm-list">
	
	<div class="palm-row first">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
			<div class="title">    
				Allow annonymous analytics using <a href="http://metrix.webosroundup.com/privacy">Metrix</a>
			</div>
		</div>
	</div>
	
	<div class="palm-row last">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
			<div x-mojo-element="ToggleButton" id="metrixToggleId"></div>
		</div>
	</div>

  </div>
</div>

<!--
<div class="palm-row last">
	<div x-mojo-element="Button" id="saveWebserverButtonId"></div>
</div>
-->

</div>