
	<div class="palm-dashboard-text-container" id="text-action">
		<div class="dashboardButtonRow">
			<div class="dashboard-column">
				<div id="dashboardButtonOne" class="dashboardButtonClass #{class1}">#{label1}</div>
			</div>
			<div class="dashboard-column">
				<div id="dashboardButtonTwo" class="dashboardButtonClass #{class2}">#{label2}</div>
			</div>
			<div class="dashboard-column">
				<div id="dashboardButtonThree" class="dashboardButtonClass #{class3}">#{label3}</div>
			</div>
			<div class="dashboard-column">
				<div id="dashboardButtonFour" class="dashboardButtonClass #{class4}">#{label4}</div>
			</div>
			<div class="dashboard-column">
				<div id="dashboardButtonFive" class="dashboardButtonClass #{class5}">#{label5}</div>
			</div>
		</div>
	</div>

