<div class="numberpad">

<!--<div class="palm-header-spacer"></div>-->
<div class="buttonRow3"></div>
<div class="buttonRow3"></div>

<div class="buttonRow3">
	<div class="column1of3">
 		<div id="oneButton" x-mojo-element="Button" class="buttonClass3"></div>
	</div>
	<div class="column2of3">
 		<div id="twoButton" x-mojo-element="Button" class="buttonClass3"></div>
	</div>
	<div class="column3of3">
 		<div id="threeButton" x-mojo-element="Button" class="buttonClass3"></div>
	</div>
</div>

<div class="buttonRow3">
 	<div class="column1of3">
 		<div id="fourButton" x-mojo-element="Button" class="buttonClass3"></div>
	</div>
	<div class="column2of3">
 		<div id="fiveButton" x-mojo-element="Button" class="buttonClass3"></div>
	</div>
	<div class="column3of3">
 		<div id="sixButton" x-mojo-element="Button" class="buttonClass3"></div>
	</div>
</div>

<div class="buttonRow3">
 	<div class="column1of3">
 		<div id="sevenButton" x-mojo-element="Button" class="buttonClass3"></div> 
	</div>
	<div class="column2of3">
 		<div id="eightButton" x-mojo-element="Button" class="buttonClass3"></div>
	</div>
	<div class="column3of3">
 		<div id="nineButton" x-mojo-element="Button" class="buttonClass3"></div>
	</div>
</div>

<div class="buttonRow3">
 	<div class="column1of3">
 		<div class="noButton"></div>
	</div>
	<div class="column2of3">
 		<div id="zeroButton" x-mojo-element="Button" class="buttonClass3"></div>
	</div>
	<div class="column3of3">
 		<div class="noButton"></div>
	</div>
</div>


</div>