<!-- TODO: replace the contents of this file with your own html -->
<div class="palm-header">
	<div id="scene-title">Add new host</div>
</div>
<div class="palm-header-spacer"></div>


<div class="palm-group">        
 <div class="palm-group-title"><span x-mojo-loc=""><div id="frontendGroupLabel">Frontend</div></span></div>
  <div class="palm-list">
	<div class="palm-row first">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label" id="hostLabel">Host</div>
				<div x-mojo-element="TextField" id="hostTextFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>
	
	<div class="palm-row">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label" id="addressLabel">Address</div>
				<div x-mojo-element="TextField" id="addressTextFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>

	<div class="palm-row last">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">                            
				<div class="label" id="portLabel">Port</div>
				<div x-mojo-element="TextField" id="portTextFieldId" class="textFieldClass"></div>
			</div>
		</div>
	</div>
  </div>
</div>

<div class="palm-row last">
	<div x-mojo-element="Button" id="submitHostButtonId"></div>
</div>
	




