<div id="header-menu" class="palm-header">
	<div id="scene-title">Remote</div>
</div>

<!--<div class="palm-header-spacer"></div>-->
<div class="buttonRow"></div>


<div class="buttonRow">
	<div class="column1">
 		<div class="noButton"></div>
	</div>
	<div class="column2">
 		<div class="noButton"></div>
	</div>
	<div class="column3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="skipBackButton" x-mojo-element="Button" class="buttonClass skipBackButton"></div> 
	</div>
	<div class="column2">
 		<div id="playButton" x-mojo-element="Button" class="buttonClass playButton"></div>
	</div>
	<div class="column3">
 		<div id="skipForwardButton" x-mojo-element="Button" class="buttonClass skipForwardButton"></div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="rewindButton" x-mojo-element="Button" class="buttonClass rewindButton"></div>
	</div>
	<div class="column2">
 		<div id="pauseButton" x-mojo-element="Button" class="buttonClass pauseButton"></div>
	</div>
	<div class="column3">
		<div id="fastforwardButton" x-mojo-element="Button" class="buttonClass fastforwardButton"></div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div class="noButton"></div> 
	</div>
	<div class="column2">
 		<div class="noButton"></div>
	</div>
	<div class="column3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow"></div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="muteButton" x-mojo-element="Button" class="buttonClass muteButton"></div> 
	</div>
	<div class="column2">
 		<div id="volumeDownButton" x-mojo-element="Button" class="buttonClass volumeDownButton"></div>
	</div>
	<div class="column3">
 		<div id="volumeUpButton" x-mojo-element="Button" class="buttonClass volumeUpButton"></div>
	</div>
</div>