<div class="welcome">

<div class="palm-page-header multi-line">

		<div id="headerContainer" class="palm-page-header-wrapper">
			<div class="icon" id="welcome-header-icon"></div>
			<div class="title main"><span id="welcomeTitle">WebMyth</span><span class="right helpButton" id="helpButton">&nbsp;&nbsp;?</span></div>
			<div class="sub"><span id="masterIpAddress-title">&nbsp </span></div>
		</div>

	 
</div>


<div class="large-main-icon"></div>

<div x-mojo-element="Button" id="goRemoteButtonId"></div>

<div id="recordedButtonWrapper">
	<div x-mojo-element="Button" id="goRecordedButtonId"></div>
</div>

<div id="upcomingButtonWrapper">
	<div x-mojo-element="Button" id="goUpcomingButtonId"></div>
</div>
	
<div id="guideButtonWrapper">
	<div x-mojo-element="Button" id="goGuideButtonId"></div>
</div>
	
<div id="searchButtonWrapper">
	<div x-mojo-element="Button" id="goSearchButtonId"></div>
</div>

<div id="videoButtonWrapper">
	<div x-mojo-element="Button" id="goVideosButtonId"></div>
</div>

<div id="musicButtonWrapper">
	<div x-mojo-element="Button" id="goMusicButtonId"></div>
</div>
	
<div id="statusButtonWrapper">
	<div x-mojo-element="Button" id="goStatusButtonId"></div>
</div>

<div id="logButtonWrapper">
	<div x-mojo-element="Button" id="goLogButtonId"></div>
</div>

<div id="debugText"> </div>


</div>