<div class="playback-scene palm-dark">
<!--
<div id="header-menu" class="palm-header">
	<div id="scene-title">Remote</div>
</div>
-->

<!--<div class="palm-header-spacer"></div>-->
<div class="buttonRow3"></div>


<div class="buttonRow3">
	<div class="column1of3">
 		<div id="backButton" x-mojo-element="Button" class="buttonClass3 backButton"></div> 
	</div>
	<div class="column2of3">
 		<div class="noButton"></div>
	</div>
	<div class="column3of3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow3">
 	<div class="column1of3">
 		<div class="noButton"></div>
	</div>
	<div class="column2of3">
 		<div id="upButton" x-mojo-element="Button" class="buttonClass3 upButton"></div>
	</div>
	<div class="column3of3">
		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow3">
 	<div class="column1of3">
 		<div id="leftButton" x-mojo-element="Button" class="buttonClass3 leftButton"></div> 
	</div>
	<div class="column2of3">
 		<div id="selectButton" x-mojo-element="Button" class="buttonClass3 selectButton"></div>
	</div>
	<div class="column3of3">
 		<div id="rightButton" x-mojo-element="Button" class="buttonClass3 rightButton"></div>
	</div>
</div>

<div class="buttonRow3">
 	<div class="column1of3">
 		<div class="noButton"></div> 
	</div>
	<div class="column2of3">
 		<div id="downButton" x-mojo-element="Button" class="buttonClass3 downButton"></div>
	</div>
	<div class="column3of3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="emptybuttonRow20"></div>

<div class="buttonRow3">
 	<div class="column1of3">
 		<div id="skipBackButton" x-mojo-element="Button" class="buttonClass3 skipBackButton"></div> 
	</div>
	<div class="column2of3">
 		<div id="playButton" x-mojo-element="Button" class="buttonClass3 playButton"></div>
	</div>
	<div class="column3of3">
 		<div id="skipForwardButton" x-mojo-element="Button" class="buttonClass3 skipForwardButton"></div>
	</div>
</div>

<div class="buttonRow3">
 	<div class="column1of3">
 		<div id="rewindButton" x-mojo-element="Button" class="buttonClass3 rewindButton"></div>
	</div>
	<div class="column2of3">
 		<div id="pauseButton" x-mojo-element="Button" class="buttonClass3 pauseButton"></div>
	</div>
	<div class="column3of3">
		<div id="fastforwardButton" x-mojo-element="Button" class="buttonClass3 fastforwardButton"></div>
	</div>
</div>


</div>