<div id="header-menu" class="palm-header">
	<div id="scene-title">Remote</div>
</div>
<div class="palm-header-spacer"></div>


<div class="buttonRow">
	<div class="column1">
 		<div class="noButton"></div>
	</div>
	<div class="column2">
 		<div class="noButton"></div>
	</div>
	<div class="column3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="rewindButton" class="buttonClass rewindButton">Rev</div>
	</div>
	<div class="column2">
 		<div id="playButton" class="buttonClass playButton">Play</div>
	</div>
	<div class="column3">
		<div id="fastforwardButton" class="buttonClass fastforwardButton">FF</div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="skipBackButton" class="buttonClass skipBackButton">Left</div> 
	</div>
	<div class="column2">
 		<div id="pauseButton" class="buttonClass pauseButton">Pause</div>
	</div>
	<div class="column3">
 		<div id="skipForwardButton" class="buttonClass skipForwardButton">Right</div>
	</div>
</div>

<div class="buttonRow">
 	<div class="column1">
 		<div class="noButton"></div> 
	</div>
	<div class="column2">
 		<div class="noButton"></div>
	</div>
	<div class="column3">
 		<div class="noButton"></div>
	</div>
</div>

<div class="buttonRow"></div>

<div class="buttonRow">
 	<div class="column1">
 		<div id="muteButton" class="buttonClass muteButton">Mute</div> 
	</div>
	<div class="column2">
 		<div id="volumeDownButton" class="buttonClass volumeDownButton">Vol-</div>
	</div>
	<div class="column3">
 		<div id="volumeUpButton" class="buttonClass volumeUpButton">Vol+</div>
	</div>
</div>