<div class="palm-row multi-line complete-scheduled-item" id='#{chanid}T#{starttime}'>
	<div class="palm-row-wrapper complete-scheduled-item">
			<div class="title truncating-text left">#{title}</div>
			<div class="palm-row multi-line single">
				<div class="palm-info-text truncating-text left italics">#{subTitle}&nbsp </div>
				<div class="palm-info-text truncating-text right italics">#{recStartTs}</div>
				<div class="palm-info-text truncating-text right italics">Encoder ##{encoderId} on #{hostname}</div>
			</div>
	</div>
</div>
