
<div class="palm-body-text">
	This is the basic scene for using the telnet_pdk_service plugin.
</div>

<object type="application/x-palm-remote" id="TelnetPlugin" height=120 width=320                                                   
x-palm-pass-event="true">                                                    
   <param name="appid" value="com.thewbman.webmyth">                                                    
   <param name="exe" value="telnet_pdk_service">                                            
</object> 